<section class="covers">
  <div class="covers-container">
    <h2 hidden>section Covers</h2>
    <ul class="covers-list">
      <li class="covers-foto">
        <img src="./img/covers/image_1.jpg" alt="10" width="544" height="314" />
      </li>
      <li class="covers-foto">
        <img src="./img/covers/image_2.jpg" width="544" height="314" alt="7" />
      </li>
      <li class="covers-foto">
        <img src="./img/covers/image_3.jpg" width="544" height="314" alt="11" />
      </li>
      <li class="covers-foto">
        <img src="./img/covers/image_4.jpg" width="544" height="314" alt="1" />
      </li>
      <li class="covers-foto">
        <img src="./img/covers/image_5.jpg" width="544" height="314" alt="8" />
      </li>
      <li class="covers-foto">
        <img src="./img/covers/image_6.jpg" width="544" height="314" alt="9" />
      </li>
      <li class="covers-foto">
        <img src="./img/covers/image_7.jpg" width="544" height="314" alt=" 4" />
      </li>
      <li class="covers-foto">
        <img src="./img/covers/image_8.jpg" width="544" height="314" alt="5" />
      </li>
      <li class="covers-foto">
        <img src="./img/covers/image_9.jpg" width="544" height="314" alt="12" />
      </li>

      <li class="covers-foto">
        <img
          src="./img/covers/image_10.jpg"
          alt="10"
          width="544"
          height="314"
        />
      </li>
      <li class="covers-foto">
        <img src="./img/covers/image_11.jpg" width="544" height="314" alt="7" />
      </li>
      <li class="covers-foto">
        <img src="./img/covers/image_12.jpg" width="544" height="314" alt="1" />
      </li>
      <li class="covers-foto">
        <img src="./img/covers/image_1.jpg" width="544" height="314" alt="1" />
      </li>
      <li class="covers-foto">
        <img src="./img/covers/image_2.jpg" width="544" height="314" alt="8" />
      </li>
      <li class="covers-foto">
        <img src="./img/covers/image_3.jpg" width="544" height="314" alt="9" />
      </li>
      <li class="covers-foto">
        <img src="./img/covers/image_4.jpg" width="544" height="314" alt=" 4" />
      </li>
      <li class="covers-foto">
        <img src="./img/covers/image_5.jpg" width="544" height="314" alt="5" />

        <img src="./img/covers/image_6.jpg" width="544" height="314" alt="12" />
      </li>
    </ul>
  </div>
</section>
