<section class="faq-container" id="faq">
  <div class="container">
    <h2 class="faq-title">FAQ</h2>
    <ul class="faq-list">
      <li class="faq-item">
        <h3 class="faq-header">
          What programming languages are most often used in your projects?
          <button class="faq-btn-trigger">
            <svg class="faq-btn-open">
              <use href="./img/sprite/icons.svg#icon-up"></use>
            </svg>
            <svg class="faq-btn-close">
              <use href="./img/sprite/icons.svg#icon-down"></use>
            </svg>
          </button>
        </h3>
        <p class="faq-content">
          In my work, I primarily use JavaScript and TypeScript, as they are
          powerful for both automation testing and full stack development.
          Additionally, I leverage Python for creating efficient automation
          scripts, and have experience with Java for specific testing tasks or
          integrations when required.
        </p>
      </li>
      <li class="faq-item">
        <h3 class="faq-header">
          What industries or sectors have you worked with in the past?
          <button class="faq-btn-trigger">
            <svg class="icon faq-btn-open">
              <use href="./img/sprite/icons.svg#icon-up"></use>
            </svg>
            <svg class="icon faq-btn-close">
              <use href="./img/sprite/icons.svg#icon-down"></use>
            </svg>
          </button>
        </h3>
        <p class="faq-content">
          I have significant experience in the finance sector, including
          critical projects like the London Stock Exchange, where reliability,
          precision, and security are key. I've also worked in e-commerce,
          ensuring high-quality customer-facing applications, and in software
          development, focusing on scalable and maintainable solutions across
          various domains.
        </p>
      </li>
      <li class="faq-item">
        <h3 class="faq-header">
          What tools or technologies do you use for project management and
          communication?
          <button class="faq-btn-trigger">
            <svg class="icon faq-btn-open">
              <use href="./img/sprite/icons.svg#icon-up"></use>
            </svg>
            <svg class="icon faq-btn-close">
              <use href="./img/sprite/icons.svg#icon-down"></use>
            </svg>
          </button>
        </h3>
        <p class="faq-content">
          I utilize Jira for task and issue tracking and Slack or Microsoft
          Teams for effective team communication. For version control and
          collaboration, I rely on Git, paired with GitHub or GitLab, and
          frequently integrate these with CI/CD tools to maintain a seamless
          development and testing workflow. Confluence is another key tool I use
          for documenting processes and sharing knowledge across teams.
        </p>
      </li>
      <li class="faq-item">
        <h3 class="faq-header">
          What types of technologies and frameworks do you use in your projects?
          <button class="faq-btn-trigger">
            <svg class="icon faq-btn-open">
              <use href="./img/sprite/icons.svg#icon-up"></use>
            </svg>
            <svg class="icon faq-btn-close">
              <use href="./img/sprite/icons.svg#icon-down"></use>
            </svg>
          </button>
        </h3>
        <p class="faq-content">
          On the QA automation side, I specialize in tools like Cypress,
          Playwright, and Selenium, using them to develop robust, scalable
          testing solutions. For full stack development, I work with React for
          front-end development and Node.js for back-end services. When it comes
          to APIs, I utilize tools like Postman, GraphQL.
        </p>
      </li>

      <li class="faq-item">
        <h3 class="faq-header">
          How do you ensure the quality of your applications?
          <button class="faq-btn-trigger">
            <svg class="icon faq-btn-open">
              <use href="./img/sprite/icons.svg#icon-up"></use>
            </svg>
            <svg class="icon faq-btn-close">
              <use href="./img/sprite/icons.svg#icon-down"></use>
            </svg>
          </button>
        </h3>
        <p class="faq-content">
          I ensure quality through a multi-layered approach, including
          functional, non-functional, and regression testing. I automate
          repetitive test cases using tools like Cypress or Playwright, while
          employing manual exploratory testing for user experience validation.
          Additionally, I integrate API testing, and visual testing into the QA
          pipeline. By collaborating with developers and stakeholders, I
          proactively identify and resolve potential issues early in the
          development cycle.
        </p>
      </li>
      <li class="faq-item">
        <h3 class="faq-header">
          How do you stay updated with the latest technologies and trends?
          <button class="faq-btn-trigger">
            <svg class="icon faq-btn-open">
              <use href="./img/sprite/icons.svg#icon-up"></use>
            </svg>
            <svg class="icon faq-btn-close">
              <use href="./img/sprite/icons.svg#icon-down"></use>
            </svg>
          </button>
        </h3>
        <p class="faq-content">
          I stay current by actively participating in QA and development
          communities, attending webinars, and reading industry-leading blogs
          and resources. I also engage in hands-on experimentation with new
          tools and frameworks, particularly in JavaScript and Python
          ecosystems, to ensure I stay ahead of technological advancements.
          Continuous learning is part of my routine, and I often complete
          certifications or advanced courses to refine my skills further.
        </p>
      </li>
    </ul>
  </div>
</section>
