<section class="hero">
  <div class="container">
    <h1 class="hero-title">
      Hello, <br />
      I’m Senior QA Automation Engineer and Fullstack developer with JS Viktor
      Adamski.
    </h1>
    <ul class="hero-list">
      <li class="hero-item">
        <a
          target="_blank"
          href="https://github.com/amigo-js/portfolio"
          class="socials"
          >GitHub</a
        >
      </li>
      <li class="hero-item">
        <a
          target="_blank"
          href="mailto:vadamski7@gmail.com"
          class="social-email"
          >vadamski7@gmail.com</a
        >
      </li>
    </ul>
  </div>
</section>
